<html>
<head>
<title>EWU | Project Builder Tools</title>

	<!-- Stylesheet standards for twig -->
	<style>{{ source('css/foundation.css') }}</style>
	<style>{{ source('css/app.css') }}</style>

	<!-- Import stylesheets -->
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<form action="index.php" method="post">
	
	<!-- Javascript included with Foundation -->
	<script src="js/vendor/jquery.js"></script>
	<script src="js/foundation.min.js"></script>

	<!-- Top bar -->
	<div class="top-bar ewu-red centered">
		<img class="centered" src="{{ app.request.basepath }}/../src/views/images/ewu-logo.jpg" style="width: 65%; height: auto; border: 2px solid black;"></img>
	</div>

	<!-- Main Header -->
	<div>
		<h1 class="centered">Project Builder Tools</h1>
	</div>

	<!-- Separator -->
	<hr style="margin-left: 10%; margin-right: 10%;"></hr>

	<!-- Note towards top/ info about framework -->
	<div class="centered" style="margin-left:10%; margin-right:10%;font-size: 18px;">
		<p>
			The following toolset is provided by the Information Technology department. 
			The available tools are meant to assist in the development of Senior Projects. 
			Developers who are extending this project, please see the bottom of the page for
			documentation.
		</p>
	</div>
	
	<div>
	<!-- Separator -->
	<hr style="margin-left: 10%; margin-right: 10%;"></hr>
	
	<!-- Tool Table -->
	<table class="ewu-red centered" style="width: 80%; height: auto; border: 2px, solid, black;">
		
		<!-- Header above table -->
		<h2 class="centered">Available tools:</h2>
		
		<!-- Added blank row for formatting -->
		<tr></br></tr>

		<!-- Table header -->
		<thead>
			<tr>
			  <th class="centered" width="auto">Name</th>
			  <th class="centered" width="auto">Description</th>
			  <th class="centered" width="auto">Example</th>
			  <th class="centered" width="auto">Documentation</th>
			  <th class="centered" width="auto">Code</th>
			</tr>
		</thead>
		
		<!-- SSO -->
		<tr class="tablerow">
		
			<!-- SSO Name -->
			<td><strong>Single Sign On</strong></td>
			
			<!-- SSO Description -->
			<td> 
				Easily integrate EWU SSO into your project with attributes available.
				</br></br>		
				There is also a .NET version available.
			</td>
			
			<!-- SSO Examples -->			
			<td>
				<a href="{{ app.request.basepath }}/sso_test">PHP SSO Tool</a>
				</br></br>
				<a></a>
			</td>
			
			<!-- SSO READMEs -->
			<td>
				<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpcas">README</a>
				</br></br>
				<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-dotnetcas">README</a>

			</td>	
			
			<!-- SSO Source Code -->
			<td>
				<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpcas-example/overview">
					Source
				</a>
				
				</br></br>
				<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-dotnetcas-example/src/73353147434b6d6197b90482ba5ed79aee11b2d2/SSOExample/SSOExample/Web.config?at=master&fileviewer=file-view-default">
					Source
				</a>
			</td>
		</tr>
		
		
		<!-- OAuth - BitBucket-->
		<tr class="tablerow">
		
			<!-- OAuth Name -->
			<td><strong>OAuth</strong></td>
			
			<!-- OAuth Description -->
			<td> 
				OAuth example using Bitbucket
				</br></br>
				OAuth example using Google
			</td>
			
			<!-- OAuth Examples -->
			<td>
				<a href="{{ app.request.basepath }}/bit/">BitBucket Tool</a>
				</br></br>
				<a href="{{ app.request.basepath }}/google/">Google Tool</a>
			</td>
			
			<!-- OAuth READMEs -->
			<td>
				<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/00837da1a8cd214e9d6ede3b87263e96ee29d7ce/src/api/Oauth/?at=master">
					README
				</a>
			</td>
			
			<!-- OAuth Source Code -->
			<td>
				<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/00837da1a8cd214e9d6ede3b87263e96ee29d7ce/src/api/Oauth/BitBucketOauth.php?at=master&fileviewer=file-view-default">
					Source
				</a>

				</br></br>
				<a href="#">Source</a>
			</td>
		</tr>

			
			
		<!-- Database Integration -->
		<tr class="tablerow">
			
			<!-- Db Name -->
			<td><strong>Database Integration</strong></td>
			
			<!-- Db Description -->
			<td> 
				Database integration through Silex. 
			</td>
		
			<!-- Db Example -->		
			<td>
		
			</td>
			
			<!-- Db README -->
			<td>
				<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/00837da1a8cd214e9d6ede3b87263e96ee29d7ce/db/?at=master">
				
					README
				
				</a>
			</td>
			
			<!-- Db Source Code -->
			<td>
			
			</td>
		</tr>
	</table>
	</div>

	<!-- Separator -->
	<hr style="margin-left: 10%; margin-right: 10%;"></hr>

	<!-- Developers Section -->
	<div class="centered" style="margin-bottom: 50px">
		<h2>Developers:</h2>

		<table class="ewu-red centered" style="width: 35%; height:auto;">
			<!-- using one tablerow for developer section -->
			<tr class="tablerow" >
				<td>
					<!-- About framework -->
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework">
						About this framework
					</a>
					</br></br>

					<!-- APIs and Routes -->
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/00837da1a8cd214e9d6ede3b87263e96ee29d7ce/src/api/?at=master">				
						Creating a route
					</a>	
					</br></br>
					
					<!-- About homepage -->
					<a href="https://bitbucket.org/easternwashingtonuniversityit/ewu-phpframework/src/00837da1a8cd214e9d6ede3b87263e96ee29d7ce/src/views/?at=master">
						About this homepage
					</a>
					
					<!-- Add more here -->

				</td>
			<tr>
		</table>
	</div>

	<!-- footer on bottom of page -->
	<div class="footer ewu-red"></div>

</body>
</html>
