body {
	font-family: "Myriad Pro";
	position: relative;
	min-width:600px;
}

h1,h2,h3,h4,h5{
	font-family: "Myriad Pro";
	font-weight: "bold";

}
.ewu-red {
	background-color: rgb(167, 25, 51);
}

.ewu-white {
	background-color: rgb(255,255,255);
}

.ewu-black {
	background-color: rgb(0,0,0);
}

.ewu-gray {
	background-color:rgb(109,110,113);
}

a, a:link, a:visited {
	color: rgb(167, 25, 51);
}

.centered {
	text-align: center;
	margin: auto;
}

.bottom {
	position: fixed;
	bottom: 0;
}

tr.tablerow  > td{
		padding-bottom: 1em;
}

table{
	border: 2px solid black;
}

th {
	background-color: gainsboro;
	border: 2px solid black;
}


td {
	background-color: white;
	border: 2px solid black;
}

.thead {
	border-bottom: 3px;
}

.top-bar {
	border: 2px solid black;
	padding: none;
}

.footer {
	position: relative;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	height: 50px;
	border: 2px solid black;
}